
<main>
  <div class="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <h3 class="nav-uitem text-light p-3"> {{ title }}</h3>
      <a class="nav-item nav-link p-3" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Home</a>
      <a class="nav-item nav-link p-3" routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Users</a>
      <a class="nav-item nav-link p-3" routerLink="/devices" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Devices</a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</main>
